syntax: glob
end2end/*zip
end2end/*.pdf
end2end/*.docx
yarn.lock.md
.nyc_output
coverage

.orig
.log
.idea
.gradle
.project
.classpath
.DS_Store
*.iml
*.ipr
*.iws
*.class
*.out
.classpath
.project

local*.properties
*local.properties
proxy.txt

dist

*\bin
*\nbproject
*\.springBeans
*\build
*\log\*.log
*\log\*.log.*
*.log
*.log.*
.\out\*
.\classes\*

*/bin
*/nbproject
*/.springBeans
*/.gradle
*/build

*/log/*.log
*/log/*.log.*
./out/*
mailing.log

*:bin
*:.springBeans
*:.gradle
*:build
*:log:*.log
*:log:*.log.*
out:*

*/.settings
*\.settings
.vagrant
./target/

*/generated/

node_modules
stats.json
.git
fs/9r

end2end/.reports
end2end/results/rerun
end2end/rerun.sh
